body {
    font-weight: 300
}

a {
    color: #333333
}

header {
  background-image: url(../image/head_background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #333;
}

#logo {
  margin: 10px auto;
  width: 200px;
}

#cart>.btn {
    color: #333
}

#cart>.btn:hover {
    color: #FFF
}

#cart.open>.btn {
    background-color: #B20C14;
    border: 1px solid #9a0a11;
    color: #FFF
}

#cart.open>.btn:hover {
    color: #EEE
}

.product-thumb:hover {
    border-color: #e60000
}

.product-thumb .button-group button:first-child {
    color: #FFF;
    background-color: #B20C14
}

.product-thumb .button-group button:first-child:hover {
    color: #FFF;
    background-color: #FF0000
}

.list-group .list-group-item.active {
    background: #B20C14;
    color: #FFF
}

.list-group .list-group-item:hover,
.list-group .list-group-item.active:hover {
    background: #FF0000;
    color: #FFF
}

.btn-inverse {
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff, #f7f7f7);
    background-repeat: repeat-x;
    border-color: #fff #fff #f7f7f7;
    color: #333
}

.btn-inverse:hover {
    background-color: #B20C14;
    background-image: linear-gradient(to bottom, #B20C14, #a40b12);
    background-repeat: repeat-x;
    border-color: #B20C14 #B20C14 #a40b12;
    color: #FFFFFF
}

.btn-primary {
    background-color: #9a0a11;
    background-image: linear-gradient(to bottom, #9a0a11, #6a070c);
    border-color: #82090f #82090f #66070b
}

.btn-primary:hover {
    background-color: #ca0e17;
    background-image: linear-gradient(to bottom, #ca0e17, #ca0e17);
    border-color: #9a0a11 #9a0a11 #82090f
}

#top {
    background-color: #B20C14;
    border-bottom: none;
    padding-top: 15px;
    margin: 0;
}

#top-links li {
    color: #FFFFFF;
    text-shadow: none
}

#top-links li a {
    color: #FFFFFF;
    font-weight: normal;
    padding-bottom: 5px;
    text-shadow: none
}

#top-links li a:hover {
    color: #FFFFFF;
    border-bottom: solid 1px #FFF
}

#top-links .open>a,
#top-links .open>a:hover {
    background-color: transparent;
    border-bottom: solid 1px #FFF
}

#top-links .open .dropdown-menu {
    padding: 0;
    background: #494949
}

#top-links .open .dropdown-menu li:hover a {
    background-color: #533284;
    background-image: linear-gradient(to bottom, #533284, #472b72);
    border-bottom: none
}

ul.nav>li.dropdown>a:after {
    content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 5px 0px 0px 10px;
    vertical-align: top;
    display: inline-block
}

#menu {
    background-color: #494949;
    background-image: none;
    border: none;
    margin-top: 10px;
}

#menu .btn-navbar {
    background-color: #494949;
    background-image: none;
    border-color: #2f2f2f
}

#menu .btn-navbar:hover,
#menu .btn-navbar:focus,
#menu .btn-navbar:active {
  background-color: #515151;
}

.nav-tabs a[href="#tab-specification"] {
  background-color: #B20C14;
  color: #FFF;
}

.nav-tabs a[href="#tab-specification"]:hover {
  color: #333;
}

#menu .dropdown-menu  a:hover {
  color: #EEE;
  background-color: #494949;
  background-image: none;
}

.product-compare thead {
  background-color: #B20C14;
  color: #FFF;
}

footer {
    background-color: #111;
    border-top: 1px solid #515151
}

footer h5 {
    color: #B20C14
}

footer ul li a {
    position: relative;
    line-height: 30px;
    padding-left: 15px
}

footer ul li a:before {
    content: "*";
    color: #B20C14;
    padding-right: 6px;
    font-size: 14px;
    position: absolute;
    top: -4px;
    left: 0
}

footer p a {
    color: #B20C14
}


@media screen and (min-width: 768px) {
    header {
      min-height: 230px;
    }
}

@media screen and (max-width: 768px) {
  header {
    background: none;
  }
}
@media screen and (min-width: 1200px) {
    .container {
        width: 90%
    }
    header {
      min-height: 380px;
    }
}
